<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="../static/css/style1.css">
</head>
<body>
    <section class="section_1">
        <div class="container">
            <div class="row">
                <div class="col_6">
                    <div class="image"><img src="../static/images/instamob view.jpg" alt="" height="700px"></div>
                </div>

                <div class="col_6">
                    <div class="main">
                        <h1>Instagram</h1><br><br><br>
                        <form action="" method="post">
                            <input type="text" name="username1" placeholder="Phone number,username,or email" class="username"><br><br>
                            <input type="password" placeholder="password" class="password" name="password1"><br><br>
                            <button class="btn" type="submit">Log in</button><br>
                        </form>

                        <a href="#" class="atwo">Forgot Password</a>
                    </div>
                    
                    <div class="sub">
                        <h2 class="signup">Don't have an account? <span><a href="{{url_for('signup')}}">Sign Up</a></span></h2>
                    </div><br>

                </div>
            </div>
        </div>
    </section>
</body>
</html>

<!-- <i class="fa-brands fa-square-facebook"></i> -->