<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="backgroundinsta">
        <img src="../static/images/Screenshot (318).png" alt="" width="100%">
    </div>

    <div class="inputdappa">
        <h1>Search</h1>
        <form action="" method="post">
            <input type="text" placeholder="Search" name="search">
            <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></button>
        </form>
    </div>

    <div class="recent">
        <p class="r">Recent</p>
        <p class="c">Clear all</p>
    </div>


    <div class="recentsearch">
        <div class="follow1">
            <div class="mainpic">
                <div class="dp"><img src="../static/images/john unknown.jpg" alt="" class="jeffindp"></div>
                <div class="profilename"><p>john_danish</p>
                <h2 class="followers">John_Daniii . Following</h2></div>
            </div>
            <div class="lusudiv"><a href="#" class="mairu11">X</a></div>
        </div>
        <div class="follow1">
            <div class="mainpic">
                <div class="dp"><img src="../static/images/cook final.webp" alt="" class="jeffindp"></div>
                <div class="profilename"><p>Bhuvi Kumar</p>
                <h2 class="followers">Bhuvan . 1.1m Followers</h2></div>
            </div>
            <div class="lusudiv"><a href="#" class="mairua">X</a></div>
        </div>
        <div class="follow1">
            <div class="mainpic">
                <div class="dp"><img src="../static/images/AB golf.jpg" alt="" class="jeffindp"></div>
                <div class="profilename"><p>Alex Hales</p>
                <h2 class="followers">Hales .107k Following</h2></div>
            </div>
            <div class="lusudiv"><a href="#" class="mairub">X</a></div>
        </div>
        <div class="follow1">
            <div class="mainpic">
                <div class="dp"><img src="../static/images/martin_unknown.jpg" alt="" class="jeffindp"></div>
                <div class="profilename"><p>Glenn Maxwell</p>
                <h2 class="followers">Glenn . Following</h2></div>
            </div>
            <div class="lusudiv"><a href="#" class="mairuc">X</a></div>
        </div>
        <div class="follow1">
            <div class="mainpic">
                <div class="dp"><img src="../static/images/bear_grylls.jpg" alt="" class="jeffindp"></div>
                <div class="profilename"><p>Carlos_Brath</p>
                <h2 class="followers">brathwaite . Following</h2></div>
            </div>
            <div class="lusudiv"><a href="#" class="mairud">X</a></div>
        </div>
    </div>

</body>
</html>