<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col_3">
                <aside>

                    <div class="instagram">
                        <img src="../static/images/Instagram_logo.svg.png" alt="" height="45px" width="140px">
                    </div>
            
                    <div class="home">
                        <a href="#"><i class="fa-solid fa-house" style="color: #000000;"></i><span class="home1"><strong>Home</strong></span></a>
                    </div>
            
                    <div class="homee">
                        <a href="{{url_for('search')}}"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i><span class="home2">Search</span></a>
                    </div>
            
                    <div class="homee">
                        <a href="#"><i class="fa-regular fa-compass" style="color: #000000;"></i><span class="home2">Explore</span></a>
                    </div>
            
                    <div class="homee">
                        <a href=""><i class="fa-solid fa-clapperboard" style="color: #000000;"></i><span class="home2">Reels</span></a>
                    </div>
            
                    <div class="homee">
                        <a href=""><i class="fa-brands fa-facebook-messenger" style="color: #000000;"></i><span class="home2">Messages</span></a>
                    </div>
            
                    <div class="homeeee">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i><span class="home2">Notifications</span></a>
                    </div>
            
                    <div class="homee">
                        <a href="#"><i class="fa-regular fa-square-plus" style="color: #000000;"></i><span class="home2">Create</span></a>
                    </div>
            
                    <div class="homee">
                        <a href="#"><i class="fa-solid fa-house" style="color: #000000;"></i><span class="home2">Profile</span></a>
                    </div>
            
                    <div class="homeee">
                        <a href="#"><i class="fa-solid fa-bars" style="color: #000000;"></i><span class="home2">More</span></a>
                    </div>
                </aside>
            </div>

            <div class="col_9">
                <div class="periyapic">
                    <div class="profilepicturee">
                        <a href="#"><img src="../static/images/ronaldo_insta_dp_original.jpg" alt="" height="200px" width="200px"></a>
                    </div>
                    <div class="mainhead">
                        <p>cristiano</p>
                        <img src="../static/images/Twitter_Verified_Badge.svg.png" alt="" height="25px" width="30px">
                    </div>
                    <div class="followingg">
                        <p class="foll">Following <i class="fa-solid fa-angle-down"></i></p>
                        <p class="mess">Message</p>
                        <p class="angledown"><i class="fa-solid fa-user-plus"></i></p>
                        <p class="pulli">...</p>
                    </div>
                </div>
                <div class="pff">
                    <p>3,552 posts</p>
                    <p>604M followers</p>
                    <p>568 following</p>
                </div>
                <div class="ronaldopro">
                    <p>Cristiano Ronaldo</p>
                    <p>Join my NFT journey on @Binance. Click the link below to get started.</p>
                    <p><i class="fa-solid fa-link"></i> ter.li/ForeverCR7</p>
                </div>
                <div class="followedby">
                    <p>Followed by josephlibin95 and xuhi_24</p>
                </div>
                <hr>
                <img src="../static/images/ronaldo_reels_final.png" alt="" height="500px"  width="100%">
            </div>


        </div>
    </div>
</body>
</html>